* {
    margin: 0;
    padding: 0;
}
p {
	margin: 5px;
	font-size: 20px;
}
h1 {
	text-align: center;
	color:  white;
	display: block;
	margin: 3px 40%;
	padding: 2px 15px;
	background-color: green;
	border: thick double #244724;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
	transition-duration: .3s;
}
h2 {
	display: inline-block;
	margin: 1px 3%;
	padding: 0 5px;
	font-size: 20px;
	border: 1px solid black;
	background-color: white;
}
div {
	transition-duration: .3s;
	margin: 15px 5%;
	padding: 5px;
    background: linear-gradient(to bottom right, #fff5e4, #ffe4b4);	
    border: 2px solid gray;
}
div:hover {
	transition-duration: .3s;
	box-shadow: 5px 3px 3px gray;
    background: linear-gradient(to bottom right, #ffdea9, #ffc160);
}
div:hover h1 {
	background-color: #10bf00;
}
div:hover .complete {
	background-color: #10bf00;
}
div:hover .inprogress {
	background-color: #0088f0;
}
table {
	border-collapse: collapse;
	border: 1px solid black;
    background-color: white;
}
td {
	border: 1px solid black;
	padding: 2px;
	font-size: 20px;
	text-align: center;
}
ul {
	margin: 5px;
	font-size: 20px;
}
li {
	margin-left: 25px;
}
.complete {
	display: inline-block;
	background-color: green;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
}
.inprogress {
	display: inline-block;
	background-color: #4169E1;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
}
.task2 {
	overflow-x:hidden;
	margin: 5px 5%;
	padding: 5px;
    background-color: white;
	border: 1px solid black;
	height: 200px;
}
.weekend {
	border: 1px solid black;
	padding: 2px;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: red;
	font-weight: 700;
}
.today {
	border: 1px solid black;
	padding: 2px;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: green;
	font-weight: 700;
}
.delta{
	display: inline-block;
	margin: 15px 25%;
	padding: 5px;
    background: black;
	color: white;
	border: 2px solid gray;
	font-weight: 900;
	transition-duration: .7s;
}
.delta:hover {
	box-shadow: 5px 3px 3px gray;
	transition-duration: .7s;
	color: #00c217;
    background: #141414;
	font-weight: 900;
}