* {
    margin: 0;
    padding: 0;
}
p {
	margin: 5px;
	font-size: 20px;
}
h1 {
	text-align: center;
	color:  white;
	display: block;
	margin: 3px 40%;
	padding: 2px 15px;
	background-color: green;
	border: thick double #244724;
	box-shadow: 5px 3px 3px #C0C0C0;
	transition-duration: .3s;
	text-shadow: 1px 0 2px #000, 
	0 1px 2px #000, 
	-1px 0 2px #000, 
	0 -1px 2px #000;
}
h2 {
	display: inline-block;
	margin: 1px 3%;
	padding: 0 5px;
	font-size: 20px;
	border: 1px dotted black;
	background-color: white;
}
h3 {
	margin: 0 20%;
	padding: 0 5px;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	background-color: white;
    border-bottom: 2px solid black;
	box-shadow: 1px 0 2px #000, 
	0 1px 2px #000, 
	-1px 0 2px #000, 
	0 -1px 2px #000;
}
div {
	position: relative;
	transition-duration: .3s;
	margin: 15px 5%;
	padding: 5px;
    background: linear-gradient(to bottom right, #fff5d9, #ffebb6);	
    border: 3px solid #ffd051;
}
div:hover {
	transition-duration: .3s;
	box-shadow: 5px 3px 3px gray;
    background: linear-gradient(to bottom right, #ffebb6, #ffe295);
    border: 3px solid #ffba00;
}
div:hover h1 {
	background-color: #10bf00;
}
div:hover .complete {
	background-color: #10bf00;
}
div:hover .inprogress {
	background-color: #0088f0;
}
table {
	border-collapse: collapse;
	border: 1px solid black;
    background-color: white;
}
td {
	border: 1px solid black;
	padding: 2px;
	font-size: 20px;
	text-align: center;
}
ul {
	margin-left: 25px;
	font-size: 20px;
	list-style-type: "\1F449";
}
li {
	margin-left: 25px;
	font-size: 20px;
}
.complete {
	display: inline-block;
	background-color: green;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
}
.inprogress {
	display: inline-block;
	background-color: #4169E1;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
}
.pyramid{
	display: inline-block;
	margin: 15px;
	padding: 5px;
    background: black;
	color: white;
	border: 2px solid gray;
	font-weight: 900;
	transition-duration: .7s;
}
.pyramid:hover{
    background: #E0FFFF;
	color: black;
	transition-duration: .7s;
	transform: scale(1.1);
}
.checkAproved {
	font-size: 20px;
	display: inline-block;
	background-color: green;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
	font-weight: 700;
}
.checkAproved:hover {
	background-color: #10bf00;
  	cursor: pointer;
}
label {
	font-size: 20px;
	display: inline-block;
	background-color: #ff6e6e;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
	font-weight: 700;
}
label:hover {
	background-color: #ff4444;
  	cursor: pointer;
}
input[type = checkbox] {
  display: none;
}
input + label:before {
  content: "❌";
}
input:checked + label:before {
  content: "✔️";
}
.approved {
	transition-duration: .3s;
    background: linear-gradient(to bottom right, #d9ffd6, #a4e99f);
    border: 3px solid #69d460;
}
.approved:hover {
	transition-duration: .3s;
    background: linear-gradient(to bottom right, #c8ffc9, #62c95b);
    border: 3px solid #169e0b;
	box-shadow: 5px 3px 3px gray;
}
.approved:after{
	content: "";
	display: block;
	position: absolute; 
	background-image: url("../icon/approved.png");
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 150px 150px;
	right: 2px;
	bottom: 2px;
	width: 150px;
	height: 150px;
	z-index: 100;
	opacity: 0.8;
	animation: 0.2s stamp;
}
@keyframes stamp{
	from {transform: scale(2.0)};
	to {transform: scale(1.0)};
}
